extends layout

block content

  .jumbotron
    .container
      h1 REST API AUTH
      p
        | This is a simple example of REST API Auth implementation using Node.JS, express, jwt, and sequelize using PostgreSQL database.

  .container
    form.form-horizontal(action='/api/auth' method='post')
      fieldset
        legend User Login
        .form-group
          label.col-lg-2.control-label.text-left(for='inputUsername') Username
          .col-lg-10
            input#inputUsername.form-control(type='text', name='username' placeholder='Enter your username' required)
        .form-group
          label.col-lg-2.control-label.text-left(for='inputPassword') Password
          .col-lg-10
            input#inputPassword.form-control(type='password', name='password', placeholder='Enter your password' required)
        .form-group
          .col-lg-10.col-lg-offset-2
            button.btn.btn-primary(type='submit') Submit
